@import "tailwindcss";

 @theme {
    --color-teal-dark:   #0F6E56;  /* primary buttons, lane badges, start times */
    --color-teal-mid:    #1D9E75;  /* icons, active nav */
    --color-teal-light:  #E1F5EE;  /* avatar backgrounds */
    --color-teal-text:   #085041;  /* text on teal-light backgrounds */

    --color-blue-light:  #E6F1FB;  /* avatar background (alt) */
    --color-blue-text:   #0C447C;

    --color-amber-light: #FAEEDA;  /* avatar background (alt) */
    --color-amber-text:  #633806;
  }
